<!-- home.component.html -->

<div class="container">
  <h1 class="text-center fs-4 pt-3">ALL OF YOUR STAR WARS FAVORITES NOW STREAMING ON DISNEY+</h1>

  <div id="carouselExampleCaptions" class="carousel slide mt-3" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
        aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4"
        aria-label="Slide 5"></button>
    </div>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/ewok-sushi-desktop-feature_a255bfad.jpeg" class="d-block w-100" alt="...">
        <div class="ms-5 p-5 w-50 carousel-caption d-none d-md-flex align-items-center top-0 start-0">
          <div class="ms-5 text-start">
            <h2>First slide label</h2>
            <p>Some representative placeholder content for the first slide.</p>
            <button class="btn btn-primary btn-lg rounded-pill" style="--bs-btn-padding-x: 2rem">READ MORE</button>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <img src="assets/ember-craft-spheres-hero-desktop_3d8b1ac2.jpeg" class="d-block w-100" alt="...">
        <div class="ms-5 p-5 w-50 carousel-caption d-none d-md-flex align-items-center top-0 start-0">
          <div class="ms-5 text-start">
            <h2>Second slide label</h2>
            <p>Some representative placeholder content for the second slide.</p>
            <button class="btn btn-primary btn-lg rounded-pill" style="--bs-btn-padding-x: 2rem">READ MORE</button>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <img src="assets/best-of-sw-2023-hero-desktop_3fc3cdec.jpeg" class="d-block w-100" alt="...">
        <div class="ms-5 p-5 w-50 carousel-caption d-none d-md-flex align-items-center top-0 start-0">
          <div class="ms-5 text-start">
            <h2>Third slide label</h2>
            <p>Some representative placeholder content for the third slide.</p>
            <button class="btn btn-primary btn-lg rounded-pill" style="--bs-btn-padding-x: 2rem">READ MORE</button>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <img src="assets/inside-swjs-kal-kestis-hero-desktop_1d58b640.jpeg" class="d-block w-100" alt="...">
        <div class="ms-5 p-5 w-50 carousel-caption d-none d-md-flex align-items-center top-0 start-0">
          <div class="ms-5 text-start">
            <h2>Four slide label</h2>
            <p>Some representative placeholder content for the second slide.</p>
            <button class="btn btn-primary btn-lg rounded-pill" style="--bs-btn-padding-x: 2rem">READ MORE</button>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <img src="assets/mando-4k-updatemodule-hero-desktop_d4e2fa10.jpeg" class="d-block w-100" alt="...">
        <div class="ms-5 p-5 w-50 carousel-caption d-none d-md-flex align-items-center top-0 start-0">
          <div class="ms-5 text-start">
            <h2>Five slide label</h2>
            <p>Some representative placeholder content for the third slide.</p>
            <button class="btn btn-primary btn-lg rounded-pill" style="--bs-btn-padding-x: 2rem">READ MORE</button>
          </div>
        </div>
      </div>

    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>

  </div>

  <div class="bg-home text-center mt-5">
    <div class="py-5"><img src="assets/thr-logos-800_cf05c8d8.png" alt="..."></div>
    <h2 text-white>Lorem ipsum dolor sit amet.</h2>
    <button class="btn btn-primary btn-lg rounded-pill" style="--bs-btn-padding-x: 2rem">EXPLORE</button>
  </div>

</div>